<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>El ojo que todo lo ve
  </title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <section class="section">
    <div class="container">
      <div class="columns is-multiline">
          <div class="column is-one-quarter">
            <figure>
              
              <div class="container">
                <div class="notification is-primary">
                <img class="image" src="/images/photo1.jpg" alt="Image" >
                </div>
              </div>
            </figure>
          </div>
      </div>
    </div>
  </section>
</body>
</html>